---
title: Hébergement
type: marketing
---
<section class='block1' id='register'>
  <div class='container blabla'>
    <div class='row'>
      <div class='col-md-12'>
        <a class='btn btn-primary' href='/manager#/auth/register' style='font-size: 21px'>Inscrivez-vous !</a>
      </div>
    </div>
  </div>
</section>
<section class='block2'>
  <div class='container blabla'>
    <div class='row'>
      <div class='col-md-3 text-center'>
        <a href='http://docker.io'><img alt="Docker-logo" src="/assets/images/logo-docker.png" width="240" /></a>
      </div>
      <div class='col-md-9'>
        <h2>Construire une fois... Lancer n'importe où</h2>
        <p>
          Docker est une solution libre pour automatiser les déploiements d'applications dans des containers légers, auto-suffisants et portables.
          Le container que le développeur construit et teste sur son PC, peut tourner et passer à l'échelle en production.
        </p>
        <p>
          Un container docker est plus léger qu'une machine virtuelle, plus rapide et plus facile à manipuler.
        </p>
      </div>
    </div>
  </div>
</section>
<section class='block3'>
  <div class='container blabla'>
    <div class='row'>
      <div class='col-md-12 text-center'>
        <h2>Simple et rapide</h2>
      </div>
    </div>
    <div class='row'>
      <div class='col-md-3'>
        <div class='etape'>
          <img alt="1" src="/assets/images/1.png" />
          Construire
        </div>
      </div>
      <div class='col-md-9'>
        <pre class='prettyprint'>docker build -t monUtilisateur/monContainer .&#x000A;docker push</pre>
      </div>
    </div>
    <div class='row'>
      <div class='col-md-3'>
        <div class='etape'>
          <img alt="2" src="/assets/images/2.png" />
          Décrire
        </div>
        à l'aide du fichier Deliverous à la racine de votre dépôt
      </div>
      <div class='col-md-9'>
        <pre class='prettyprint'>application:&#x000A;  description: Mon Application&#x000A;  container: monUtilisateur/monContainer</pre>
      </div>
    </div>
    <div class='row'>
      <div class='col-md-3'>
        <div class='etape'>
          <img alt="3" src="/assets/images/3.png" />
          Lancer
        </div>
      </div>
      <div class='col-md-9'>
        <pre class='prettyprint'>git push</pre>
      </div>
    </div>
  </div>
</section>
<section class='block4'>
  <div class='container blabla'>
    <div class='row'>
      <div class='col-md-12'>
        <a class='btn btn-primary' href='/manager#/auth/register' style='font-size: 21px'>Inscrivez-vous !</a>
      </div>
    </div>
  </div>
</section>
