---
title: Home
type: marketing
---
<section class='block1'>
  <div class='container'>
    <div class='row'>
      <div class='col-md-8'>
        <div class='landing'>
          <h1>
            L'hébergement de containers Docker
          </h1>
          <h2>
            <ul class='fa-ul'>
              <li>
                <i class='fa-li fa fa-check'></i>
                simple,
              </li>
              <li>
                <i class='fa-li fa fa-check'></i>
                rapide,
              </li>
              <li>
                <i class='fa-li fa fa-check'></i>
                 et économique.
              </li>
            </ul>
          </h2>
          <p>
            Vous cherchez un hébergeur pour vos containers
            <a href='http://docker.com'>docker</a>
            qui remplisse ces conditions ?
          </p>
          <a class='btn btn-primary' href='manager#/auth/register' style='font-size: 21px'>Inscrivez-vous !</a>
          ou
          <a href='/hosting'>en savoir plus</a>
        </div>
      </div>
      <div class='col-md-4 text-center'>
        <img alt="Logo Deliverous" src="/assets/images/logo-deliverous.svg" width="300" />
      </div>
    </div>
  </div>
</section>
<section class='block2'>
  <div class='container'>
    <div class='row'>
      <div class='col-md-8'>
        <div class='landing'>
          <h1>Accompagnement Docker</h1>
          <h2>
            <ul class='fa-ul'>
              <li>
                <i class='fa-li fa fa-check'></i>
                Vous rencontrez quelques difficultés,
              </li>
              <li>
                <i class='fa-li fa fa-check'></i>
                vous souhaitez profiter de notre expertise ?
              </li>
            </ul>
          </h2>
          <p>
            Nous pouvons vous accompagner dans votre utilisation de Docker.
          </p>
          <a class='btn btn-primary' href='mailto:contact@deliverous.com' style='font-size: 21px'>
            <span class='fa fa-envelope'></span>
            Contactez nous !
          </a>
          ou
          <a href='service'>en savoir plus</a>
        </div>
      </div>
      <div class='col-md-4 text-center'>
        <img alt="Docker-logo" src="/assets/images/logo-docker.png" width="400" />
      </div>
    </div>
  </div>
</section>
