---
title: Services
type: marketing
---
<section class='block1'>
  <div class='container blabla'>
    <div class='row'>
      <div class='col-md-9'>
        <h1>Un support professionnel</h1>
        <p>Vous souhaitez être accompagné pour l’utilisation de Docker ?</p>
        <ul class='fa-ul'>
          <li>
            <i class='fa-li fa fa-check'></i>
            Fabriquer vos containers n’est finalement pas si simple que ça,
          </li>
          <li>
            <i class='fa-li fa fa-check'></i>
            Vous vous demandez quelles sont les bonnes pratiques à mettre en œuvre pour faire des containers faciles à maintenir ?
          </li>
          <li>
            <i class='fa-li fa fa-check'></i>
            La communauté, c’est bien, mais elle manque de réactivité.
          </li>
        </ul>
        <p>Parce que tout le monde n’est pas spécialiste, nous pouvons intervenir chez vous pour vous accompagner dans la montée en compétence.</p>
        <p>Fort de notre expérience avec Docker, nous allons vous aider à concrétiser vos projets de containers applicatifs.</p>
        <p>
          <a class='btn btn-primary' href='mailto:contact@deliverous.com'>
            <span class='fa fa-envelope'></span>
            Contactez-nous
          </a>
        </p>
      </div>
      <div class='col-md-3 text-center'>
        <img alt="Labyrinth" src="/assets/images/labyrinth.png" width="300" />
      </div>
    </div>
  </div>
</section>
<section class='block2'>
  <div class='container blabla'>
    <div class='row'>
      <div class='col-md-4 text-center'>
        <img alt="Devops" src="/assets/images/devops.png" width="300" />
      </div>
      <div class='col-md-8'>
        <h1>Un outil flexible</h1>
        <p>
          Comme n’importe quel outil, Docker doit s’adapter à votre organisation.
          Ce n’est pas à vous de vous adapter à l’outil.
        </p>
        <p>
          Avec notre aide vous arriverez à placer les containers applicatifs au centre de vos équipes pour :
          <ul class='fa-ul'>
            <li>
              <i class='fa-li fa fa-check'></i>
              fluidifier les échanges entre les études et la production,
            </li>
            <li>
              <i class='fa-li fa fa-check'></i>
              apaiser les conflits,
            </li>
          </ul>
          en bref, entamer une démarche devops.
        </p>
        <p>
          <a class='btn btn-primary' href='mailto:contact@deliverous.com'>
            <span class='fa fa-envelope'></span>
            Contactez-nous
          </a>
        </p>
      </div>
    </div>
  </div>
</section>
<section class='block3'>
  <div class='container blabla'>
    <div class='row'>
      <div class='col-md-8'>
        <h1>Des formations reconnues</h1>
        <ul class='fa-ul'>
          <li>
            <i class='fa-li fa fa-check'></i>
            Former vos collaborateurs pour leur donner tous les moyens d’être autonome et efficace dans la gestion de vos containers applicatifs.
          </li>
          <li>
            <i class='fa-li fa fa-check'></i>
            Maîtriser les coûts de formation grâce à une prise en charge (OPCA, FAFIEC, DIF ou CPF).
          </li>
        </ul>
        <p>Voilà les engagements des formations Docker que nous pouvons vous apporter.</p>
        <p>
          <a class='btn btn-primary' href='mailto:contact@deliverous.com'>
            <span class='fa fa-envelope'></span>
            Contactez-nous
          </a>
        </p>
      </div>
      <div class='col-md-4 text-center'>
        <img alt="Graduation" height="200" src="/assets/images/graduation.png" />
      </div>
    </div>
  </div>
</section>
