---
title: Équipe
type: marketing
---
<section class='block1' id='equipe'>
  <div class='container'>
    <div class='row'>
      <div class='col-md-12 text-center panel-heading'>
        <h1>
          <a name='equipe'></a>
          L'équipe
        </h1>
      </div>
      <div class='col-md-6 panel-body'>
        <img alt="Thomas Clavier" class="photo pull-left img-thumbnail" src="/assets/images/thomas.clavier.jpg" />
        <h2>
          Thomas Clavier
        </h2>
        <p>
          Passionné de devops et de logiciels libres, je suis consultant freelance et fondateur de la société
          <a href='http://azae.net'>Azaé.</a>
          J'y ai développé une expertise devops et déploiement continu.
        </p>
        <div class='social'>
          <a href='http://fr.linkedin.com/in/thomasclavier'>
            <i class='fa fa-linkedin-square'></i>
          </a>
          <a href='http://plus.google.com/+ThomasClavier'>
            <i class='fa fa-google-plus-square'></i>
          </a>
          <a href='https://twitter.com/thomasclavier'>
            <i class='fa fa-twitter-square'></i>
          </a>
          <a href='https://github.com/tclavier'>
            <i class='fa fa-github-square'></i>
          </a>
        </div>
      </div>
      <div class='col-md-6 panel-body'>
        <img alt="Olivier Albiez" class="photo pull-left img-thumbnail" src="/assets/images/olivier.albiez.jpg" />
        <h2>
          Olivier Albiez
        </h2>
        <p>Je suis un développeur logiciel, passionné des méthodes de travail et de l'auto-organisation dans les entreprises. Je suis toujours à la recherche de ce qui peut accélérer le cycle de développement.</p>
        <div class='social'>
          <a href='http://fr.linkedin.com/in/olivieralbiez'>
            <i class='fa fa-linkedin-square'></i>
          </a>
          <a href='https://twitter.com/OlivierAlbiez'>
            <i class='fa fa-twitter-square'></i>
          </a>
          <a href='https://github.com/oalbiez'>
            <i class='fa fa-github-square'></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
