---
title: Formations
type: marketing
---
<section class='block1'>
  <div class='container blabla'>
    <div class='row'>
      <div class='col-md-8'>
        <h1>
          Formations
          <div class='pull-right'>
            <p><a class='btn btn-primary' href='mailto:contact@deliverous.com'>
                <span class='fa fa-envelope'></span>
                Contactez-nous
              </a>
            </p>
          </div>
        </h1>
        <p>L’ensemble de nos formations sont disponibles en inter-entreprise et en intra-entreprise.</p>
        <ul class='fa-ul'>
          <li>
            <i class='fa-li fa fa-check'></i>
            <a href='/training#intro_docker'>Introduction à Docker par la pratique</a>
          </li>
        </ul>
      </div>
      <div class='col-md-4 text-center'>
        <img alt="Graduation" src="/assets/images/graduation.png" width="220" />
      </div>
    </div>
  </div>
</section>
<section class='block2'>
  <div class='container blabla'>
    <div class='row'>
      <div class='col-md-4 text-center'>
        <img alt="Docker-logo" src="/assets/images/logo-docker.png" width="260" />
      </div>
      <div class='col-md-8'>
        <h1 id='intro_docker'>
          Introduction à Docker par la pratique
          <div class='pull-right'>
            <p><a class='btn btn-primary' href='mailto:contact@deliverous.com'>
                <span class='fa fa-envelope'></span>
                Contactez-nous
              </a>
            </p>
          </div>
        </h1>
        <h2>Présentation</h2>
        <p>
          Cette formation de 2 jours vous fournira une introduction à Docker et aux dernières technologies de conteneurs applicatifs.
          Elle est destinée aux administrateurs et aux développeurs souhaitant appréhender l'utilisation des conteneurs applicatifs.
          <b>L'ensemble des travaux pratiques seront réalisés sur vos projets.</b>
          Cette approche pratique axée sur les cas concrets de vos entreprises permet une meilleure assimilation.
          <b>La formation est illustrée</b>
          de nombreux cas d'utilisation directement tirés
          <b>de notre expérience,</b>
          pipeline de déploiement continu, cloud privé, automatisation du poste de développement, etc.
        </p>
      </div>
    </div>
    <div class='row'>
      <div class='col-md-1 icon'>
        <i class='fa fa-fw fa-flag-checkered'></i>
      </div>
      <div class='col-md-5'>
        <h2>Objectifs</h2>
        <ul>
          <li>Appréhender l'utilisation de Docker</li>
          <li>Comprendre et utiliser Docker au sein de vos projets</li>
        </ul>
      </div>
      <div class='col-md-1 icon'>
        <i class='fa fa-fw fa-clock-o'></i>
      </div>
      <div class='col-md-5'>
        <h2>Durée</h2>
        2 jours alternant théorie et
        <b>pratique sur vos projets.</b>
      </div>
    </div>
    <div class='row'>
      <div class='col-md-1 icon'>
        <i class='fa fa-fw fa-check-square-o'></i>
      </div>
      <div class='col-md-5'>
        <h2>Pré-requis</h2>
        <ul>
          <li>Avoir participé à un projet informatique</li>
          <li>Avoir de l'autonomie et de la motivation</li>
          <li>Quelques bases en shell</li>
        </ul>
      </div>
      <div class='col-md-1 icon'>
        <i class='fa fa-fw fa-list-alt'></i>
      </div>
      <div class='col-md-5'>
        <h2>
          Plan de formation
        </h2>
        <ul>
          <li>Pourquoi Docker ?</li>
          <li>Principe de fonctionnement de Docker (cycle de vie du conteneur et découverte de l'API)</li>
          <li>Créer des conteneurs Docker</li>
          <li>Gérer des containers et des images Docker</li>
          <li>Orchestration des containers</li>
          <li>Docker et la sécurité</li>
          <li>L'intégration avec les autres outils du marché</li>
        </ul>
      </div>
    </div>
    <div class='row'>
      Pour plus de détails, téléchargez le
      <a href='/assets/documents/formation-docker.pdf'>
        plan de formation détaillé.
      </a>
    </div>
  </div>
</section>
